#form {
    width: 900px;
}


/* Styling the Form (Color, Padding, Shadow) */
form {
    background-color: #fff;
    margin: 50px auto;
    max-width: 600px;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

#submit {
    background-color: #05c46b;
    font-family: inherit;
    font-size: 21px;
    display: block;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

#submit:hover {
    transition: transform .5s;
    background-color: #6cc99d;
    color: white;
}

#email-control {
    margin-top: 50px;
}

#new {
    display: block;
    background-color: #05c46b;
    justify-content: center;
    font-family: inherit;
    font-size: 21px;
    width: 50%;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

#new:hover {
    background-color: #6cc99d;
    color: white;
}