@import "./settings";
@import "./components/navigation";
@import "./components/logo";

.body {
  margin: 50px 10% 100px 15% ;
  padding-bottom: 100px;
}

.body--pres {
  display: flex;
  flex-direction: row;
  text-align: justify;
  line-height: 1.5;
  font-family: "Times New Roman";
  font-size: 18px;

  .body--presText {
    width: 50%;
    padding: 10px 20px;
  }

  .body--presRight {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    max-width: 50%;
    padding: 10px 20px;


    .body--presText2 {
      padding-bottom: 30px;
    }


    .body--presImg {
      background: url("../assets/img/plants.jpeg");
      background-size: contain;
      width: 100%;
      height: 150px;
      display: flex;
      flex-direction: column-reverse;
      position: relative;
      border-radius: 2px;
      padding-top: 50px;
    }

    .body--presBtn{
      background: black;
      color: white;
      height: 60px;
      position: absolute;
      top: 105%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

      &:hover {
        cursor: pointer;
        background-color: #2f3238;
      }

      &:focus, &:active {
        background-color: #3F434B;

      }

    }

  }

}

.heroBanner {
  padding-top: 60px;
  height: 100vh;
  background: url("../../src/assets/img/background-home.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow:inset 0 0 0 2000px rgba(24, 23, 24, 0.4);

  h1 {
    color: white;
    font-size: 64px;
    width: 400px;
    margin: 50px 0 0 100px;
  }
}

.stats {
  width: 100vw;
  background: url("../../src/assets/img/bannerStats.jpeg");
  background-size: cover;
  display: flex;
  height: 200px;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 200px;

  .stat {
    color: white;
    width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 24px;
    text-align: center;

    .stat--head {
      font-size: 80px !important;
    }

  }
}